<table>
  <tbody>
    <tr>
      <td >
    
        <table class="email header_fields">
          <tbody>
            <% @mail.header_fields.each do |field| %>
            <tr >
              <td class="header_field_name"><%= field.name %>:</td>
              <td class="header_field_value" style="word-break: break-all;" ><%= field.decoded %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      
      </td>
    </tr>
  </tbody>
</table>
